@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'iA Writer Quattro';
    src: url('/fonts/iAWriterQuattroS-Regular.woff2') format('woff2'),
         url('/fonts/iAWriterQuattroS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  